body{
    background-color: rgb(255, 65, 65);
    background-size: cover;
    align-content: center;
    background-repeat: no-repeat;
}
.letterpage {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    background: linear-gradient(#ff6060, #ff0000);
    width: 500px;
    height: 500px;
    border-radius: 50px;
    margin-left: 33%;
    border: 10px solid white;
}
p {
    text-align: justify;
    color:white;
}
.lettertext{
    text-align: justify;
}